<?xml version="1.0"?>
<config>
    <modules>
        <Aws_Customersecure>
            <version>0.0.3</version>
        </Aws_Customersecure>
    </modules>

    <stores>
        <admin>
            <design>
                <package>
                    <name>sumy</name>
                </package>
                <theme>
                    <default>playhf</default>
                </theme>
            </design>
        </admin>
    </stores>

    <global>
        <models>
            <aws_customersecure>
                <class>Aws_Customersecure_Model</class>
                <resourceModel>aws_customersecure_resource</resourceModel>
            </aws_customersecure>
            <aws_customersecure_resource>
                <class>Aws_Customersecure_Model_Resource</class>
                <entities>
                    <aws_email_domain>
                        <table>aws_email_domain</table>
                    </aws_email_domain>
                    <aws_secure_rules>
                        <table>aws_secure_rules</table>
                    </aws_secure_rules>
                </entities>
            </aws_customersecure_resource>
        </models>
        <helpers>
            <aws_customersecure>
                <class>Aws_Customersecure_Helper</class>
            </aws_customersecure>
        </helpers>
        <blocks>
            <aws_customersecure>
                <class>Aws_Customersecure_Block</class>
            </aws_customersecure>
        </blocks>
        <resources>
            <aws_customersecure_setup>
                <setup>
                    <module>Aws_Customersecure</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
            </aws_customersecure_setup>
        </resources>

        <events>
            <customer_register_success>
                <observers>
                    <email_secure>
                        <class>aws_customersecure/observer</class>
                        <method>checkDomainExists</method>
                    </email_secure>
                </observers>
            </customer_register_success>
            <customer_login>
                <observers>
                    <init_rule_for_customer>
                        <class>aws_customersecure/observer</class>
                        <method>addRuleToSession</method>
                    </init_rule_for_customer>
                </observers>
            </customer_login>
            <controller_action_predispatch_cms>
                <observers>
                    <set_redirect_to_customer>
                        <class>aws_customersecure/observer</class>
                        <method>showBannedPages</method>
                    </set_redirect_to_customer>
                </observers>
            </controller_action_predispatch_cms>
            <customer_logout>
                <observers>
                    <delete_rules_from_session>
                        <class>aws_customersecure/observer</class>
                        <method>deleteRules</method>
                    </delete_rules_from_session>
                </observers>
            </customer_logout>
        </events>
    </global>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <aws_customersecure before="Mage_Adminhtml">Aws_Customersecure_Adminhtml</aws_customersecure>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <aws_customersecure>
                    <file>aws/customer_secure.xml</file>
                </aws_customersecure>
            </updates>
        </layout>
    </adminhtml>

    <frontend>
        <layout>
            <updates>
                <aws_customersecure>
                    <file>aws/customer_secure.xml</file>
                </aws_customersecure>
            </updates>
        </layout>
        <routers>
            <customersecure>
                <use>standard</use>
                <args>
                    <module>Aws_Customersecure</module>
                    <frontName>customersecure</frontName>
                </args>
            </customersecure>
        </routers>
    </frontend>
</config>